@page
@model RegTempus.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>Register Time.</h2>

@if (true)
{
<p>To start the clock, press the button.</p>

<a asp-controller="Home" asp-action="StartTime" class="btn btn-primary">Start</a>

}
else
{
    <p>To stop the clock, press the button.</p>

    <a asp-controller="Home" asp-action="StopTime" class="btn btn-primary">Stop</a>
}

